.hero {
  display: grid;
  border-inline: 1px solid #0001;
  margin-block: 1rem;
  padding-inline: 3rem;
  padding-block: 2rem;
}

.hero > * {
  grid-area: 1 / 1;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
  align-self: flex-end;
  justify-content: space-between;
  z-index: 1;
  pointer-events: none;

  h1 {
    font-size: 2.5rem;
    line-height: 1.05;
    letter-spacing: -0.03em;
    max-width: 18ch;
  }
  @media (max-width: 480px) {
    font-size: 2.5rem;
  }
}
.heroSubtitle {
  z-index: 1;
  max-width: 48ch;
  text-wrap: balance;
}
.tile {
  aspect-ratio: 1 / 1;
  position: relative;
  background: #d4dce1;
  width: 40%;
  place-self: center end;
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.contactForm {
  display: grid;
  row-gap: 1rem;
  width: 100%;
  text-align: left;

  & button {
    justify-self: start;
  }
}
