.hero {
  display: grid;
  border-inline: 1px solid #0001;
  margin-block: 1rlh;
  padding-inline: 3rlh;
  padding-block: 3rlh;
  width: round(nearest, 100%, 1rlh);
  /* background-image:
    linear-gradient(to right, #00000005 1px, transparent 1px),
    linear-gradient(#00000005 1px, transparent 1px);
  background-size: 1rlh 1rlh;
  background-position: 100% 0px; */
}

.hero > * {
  grid-area: 1 / 1;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 2rlh;
  align-items: start;
  align-self: flex-end;
  justify-content: space-between;
  z-index: 1;
  pointer-events: none;

  h1 {
    font-size: 2.5rlh;
    line-height: 1.2;
    letter-spacing: -0.03em;
    max-width: 18ch;
  }
}

.tile {
  aspect-ratio: 1 / 1;
  position: relative;
  /* background: #d4dce1; */
  width: 100%;
  max-width: 16rlh;
  place-self: center end;
  canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    object-fit: cover;
    object-position: center;
    transform: translate(calc(-50% + 1px), calc(-50% + 1px));
  }
}

.contactForm {
  display: grid;
  row-gap: 1rlh;
  width: 100%;
  text-align: left;

  & button {
    justify-self: start;
  }
}
