* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background: #dfdfdc;
}

main {
  text-align: center;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1em; */
}

nav svg {
  width: 180px;
  height: auto;
  overflow: visible;
}

.container {
  position: relative;
  max-width: 720px;
  width: calc(100% - 4rem);
  margin: 0 auto;
}
section {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
