* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background: #dfdfdc;
}

main {
}

.startend {
  grid-column: start / end;
}

.bleed {
  grid-column: bleedstart / bleedend;
}

.navigation {
  border-bottom: 1px solid #0001;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0 2rem 0;
}

nav svg {
  width: 180px;
  height: auto;
  overflow: visible;
}

.container {
  display: grid;
  position: relative;
  /* max-width: 720px;
  width: calc(100% - 4rem); */
  margin: 0 auto;
  grid-template-columns: [bleedstart] 1fr [start] 720px [end] 1fr [bleedend];
  & > * {
    grid-column: start / end;
  }
}
section {
  min-height: 30vh;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}
