.city-canvas {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 6/10;
  margin: 0 auto;
  pointer-events: none;
  border-inline: 1px solid #0001;
}

.city-canvas canvas {
  display: block;
  width: 100%;
  height: 100%;
}
